.vscode/**
.vscode-test/**
src/**
out/test/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
test/**
images/**
.github/**
**/node_modules/**
**/.DS_Store
